@model DonationWidget.Models.AccountsModel
@using System.Linq;

<ul id="accountsList" class="iris-options-list">
    @foreach (var account in Model.Accounts)
    {
        var url = "/DonationWidget/RedirectToAccount?" + "accountNumber=" + @account.Number;
        <a href=@url>
            <div class="iris-account iris-account--multi-line" data-color="account-color-0">
                <span class="iris-account__color-bar"></span>
                <div class="iris-account__column iris-account__account-details">
                    <div class="iris-account__info iris-account__primary-info">
                        <span class="iris-account__account-name" title="Account">Account</span>
                    </div>
                    <div class="iris-account__info iris-account__secondary-info">
                        <span class="iris-account__account-number"><span role="img" aria-label="Account number ending in">**********</span>@account.Number</span>
                        <span class="iris-account__info-icon font-icon-fi" role="img" aria-label="External account"></span>
                        <span class="iris-account__info-icon font-icon-pending" role="img" aria-label="Pending transactions"></span>
                    </div>
                </div>
                <div class="iris-account-balance iris-account-balance--available-balance">
                    <div class="iris-account-balance__row">
                        <span class="iris-account-balance__icon available-balance-icon" role="img" aria-label="Available balance"></span>
                        <span class="iris-account-balance__primary-info">$ @account.AvailableBalance</span>
                    </div>
                </div>
            </div>
        </a>
    }
